<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackathon.strike.mapper.BaseDataMapper">

    <insert id="join" parameterType="map">
        INSERT INTO noepa.hackathon_member
        ( mb_id
        , mb_pw
        , mb_name)
        VALUES ( #{mb_id}
               , #{mb_pw}
               , #{mb_name});
    </insert>

    <select id="login" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_member
        where mb_id = #{mb_id}
        AND mb_pw = #{mb_pw}
    </select>

    <insert id="Erpost" parameterType="map">
        INSERT INTO noepa.hackathon_Er
        ( Er_writer
        , Er_title
        , Er_contents,
         mb_id)
        VALUES ( #{Er_writer}
               , #{Er_title}
               , #{Er_contents}
               , #{mb_id});
    </insert>

    <insert id="Ercomment" parameterType="map">
        INSERT INTO noepa.hackathon_Er_comments
        ( Er_id
        , comments_writer
        , comments)
        VALUES ( #{Er_id}
               , #{comments_writer}
               , #{comments});
    </insert>

    <select id="Erviewposts" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_Er
        order by Er_id desc
    </select>

    <select id="Erviewpost" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_Er
        where Er_id = #{i}
    </select>

    <update id="Erupdate" parameterType="map">
        update noepa.hackathon_Er set Er_title = #{Er_title}, Er_contents = #{Er_contents} where Er_id = convert((select Er_id from (SELECT Er_id FROM noepa.hackathon_Er where Er_writer=#{Er_writer} Limit #{Er_id},1) Er_id), signed);

    </update>

    <delete id="Erdelete" parameterType="map">
        delete from noepa.hackathon_Er where Er_id = convert((select Er_id from (SELECT Er_id FROM noepa.hackathon_Er where Er_writer=#{Er_writer} Limit #{Er_id},1) Er_id), signed);
        delete from noepa.hackathon_Er_comments where Er_id = convert((SELECT Er_id FROM noepa.hackathon_Er where Er_writer=#{Er_writer} Limit #{Er_id},1), signed);
-- 되는지 테스트 안해봄
    </delete>

    <select id="getmyEr" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_Er
        where mb_id = #{id}
    </select>

    <update id="updatemy" parameterType="map">
        update noepa.hackathon_member set mb_pw = #{mb_pw}, mb_name = #{mb_name} where mb_id = #{mb_id}
    </update>

    <select id="infoviewposts" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_info
        order by info_id desc
    </select>

    <select id="infoviewpost" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_info
        where info_id = #{i}
    </select>

    <insert id="infopost" parameterType="map">
        INSERT INTO noepa.hackathon_info
        ( info_writer
        , info_title
        , info_contents,
          mb_id)
        VALUES ( #{Er_writer}
               , #{Er_title}
               , #{Er_contents}
               , #{mb_id});
    </insert>

    <delete id="infodelete" parameterType="map">
        delete from noepa.hackathon_info where info_id = convert((select info_id from (SELECT info_id FROM noepa.hackathon_Er where info_writer=#{info_writer} Limit #{info_id},1) info_id), signed);
        delete from noepa.hackathon_info_comments where info_id = convert((SELECT info_id FROM noepa.hackathon_Er where info_writer=#{info_writer} Limit #{info_id},1), signed);
-- 되는지 테스트 안해봄
    </delete>

    <update id="infoupdate" parameterType="map">
        update noepa.hackathon_info set info_title = #{info_title}, info_contents = #{info_contents} where info_id = convert((select info_id from (SELECT info_id FROM noepa.hackathon_info where info_writer=#{info_writer} Limit #{info_id},1) info_id), signed);

    </update>

    <insert id="infocomment" parameterType="map">
        INSERT INTO noepa.hackathon_info_comments
        ( info_id
        , comments_writer
        , comments)
        VALUES ( #{info_id}
               , #{comments_writer}
               , #{comments});
    </insert>

    <select id="getmyinfo" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_info
        where mb_id = #{id}
    </select>

    <select id="getmy" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_member
        where mb_id = #{id}
    </select>

</mapper>
