<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hackathon.strike.mapper.BaseDataMapper">

    <!--데이터 저장 -->
    <insert id="baseDataInput" parameterType="map">
        INSERT INTO noepa.noepa_base_data
        ( time
        , delta
        , theta
        , low_alpha
        , high_alpha
        , low_beta
        , high_beta
        , low_gamma
        , mid_gamma
        , attention
        , meditation)
        VALUES ( #{time}
               , #{delta}
               , #{theta}
               , #{low_alpha}
               , #{high_alpha}
               , #{low_beta}
               , #{high_beta}
               , #{low_gamma}
               , #{mid_gamma}
               , #{attention}
               , #{meditation});


    </insert>

    <select id="selectAllData" resultType="map" parameterType="map">
        select *
        from noepa.noepa_base_data
        order by seq desc
            limit #{cnt};
    </select>

    <insert id="join" parameterType="map">
        INSERT INTO noepa.hackathon_member
        ( mb_id
        , mb_pw
        , mb_name)
        VALUES ( #{mb_id}
               , #{mb_pw}
               , #{mb_name});
    </insert>

    <select id="login" resultType="map" parameterType="map">
        select *
        from noepa.hackathon_member
        where mb_id = #{mb_id}
        AND mb_pw = #{mb_pw}
    </select>

    <insert id="post" parameterType="map">
        INSERT INTO noepa.hackathon_qna
        ( qna_writer
        , qna_title
        , qna_contents)
        VALUES ( #{qna_writer}
               , #{qna_title}
               , #{qna_contents});
    </insert>

    <insert id="comment" parameterType="map">
        INSERT INTO noepa.hackathon_comments
        ( qna_id
        , comments_writer
        , comments)
        VALUES ( #{qna_id}
               , #{comments_writer}
               , #{comments});
    </insert>

</mapper>
